body,
html {
    color: white;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

.viewer {
    width: auto;
    height: 100%;
    display: flex;

}

.img_viewer {
    width: auto;
    height: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}

.back {
    position: absolute;
    top: 50%;
    left: 5%;
}

.next {
    position: absolute;
    top: 50%;
    right: 5%;
}

.back,
.next {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: white;
}